{
  "comments": false,
  "env": {
    "production": {
      "minified": true,
      "plugins": [
        "transform-inline-consecutive-adds",
        "transform-merge-sibling-variables",
        "minify-flip-comparisons",
        "minify-constant-folding"
      ]
    }
  },
  "ignore": [
    "src/oolong/lang/oolong.js"
  ],
  "plugins": [
    ["contracts", {
      "env": {
        "production": {
          "strip": true
        }
      },
      "names": {
        "assert": "assert",
        "precondition": "pre",
        "postcondition": "post",
        "invariant": "invariant",
        "return": "it"
      }
    }],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}